/* orange: rgb(255, 161, 0)|#FFA100 */
/* green: rgb(25, 255, 120)|#19FF78 */
/* purple: rgb(127, 20, 204)|#7F14CC */
/* foreground color */
body {
	font-family: 'Open Sans', sans-serif;
}

div.fgc > h1 {
	/* can set color to one of 147 predefined colors */
	/*color: orange;*/
	/* I am not going to because I found these colors using a tool*/
	color: #FFA100;
}

div.fgc > h2 {
	color: rgb(25, 255, 120);
}

div.fgc > p {
	color: #7F14CC;
}

div.bgc {
	background-color: gray;
	color: white;
}

div.bgc > h1 {
	background-color: #FFA100;
}

div.bgc > h2 {
	background-color: rgb(25, 255, 120);
}

div.bgc > p {
	background-color: #7F14CC;
}

