body {
	font-family: 'Open Sans', sans-serif;
}

.unordered li {
	/* change the style of the bullets */
	list-style-type: none;
	/* list-style-type: disc; */
	/* list-style-type: circle; */
	/* list-style-type: square; */
	/* you can also add images for bullets */
	/* uncomment below for kitty bullets */
	/* list-style-image: url("http://placekitten.com/g/100/100"); */
}

.ordered li {
	/*list-style-type: decimal;*/
	/*list-style-type: decimal-leading-zero;*/
	/*list-style-type: lower-alpha;*/
	/*list-style-type: upper-alpha;*/
	/*list-style-type: lower-roman;*/
	/*list-style-type: upper-roman;*/

	/* can position where the markers are */
	list-style-position: inside;
	/*list-style-position: outside;*/
}

/*all of this can be done in short hand using list-style*/
/*list-style: inside disc;*/